:root {
    --font-default: 'Mukta Mahee', sans-serif;
    --font-serif: 'Cormorant', serif;

    --font-size-s: 0.75rem; /* 12 */
    --font-size-m: 1rem; /* 16 */
    --font-size-m-2: 1.25rem; /* 20 */
    --font-size-m-3: 1.5rem; /* 24 */
    --font-size-m-4: 1.75rem; /* 28 */
    --font-size-l: 2rem; /* 32 */
    --font-size-l-2: 2.75rem; /* 44 */
    --font-size-l-3: 3.5rem; /* 56 */

    --text-spacing-1: 0.06em;
    --text-spacing-2: calc(var(--text-spacing-1)*2);
    --text-spacing-3: calc(var(--text-spacing-2)*2);

    --color-black: #3A3941;
    --color-white: #F4F4F3;
    --color-grey-light: #eeeeee;
    --color-grey-dark: #9c9c9c;
    --color-green-light: #d6e2be;
    --color-green-dark: #CCDCAD;
    
    --padding-contents: 0.5em;
    --margin-contents: 0.5em;
    --margin-elements: 1em;
    --margin-button: 4em;

    --layout-height: 50em;
    --footer-height: 30em;
}


/* Initialize */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Mukta Mahee', sans-serif;
    color: var(--color-black);
}

a {
    text-decoration: none;
    color: var(--color-black);
}

ul {
    list-style: none;
}

button {
    border: none;
    background: transparent;
    color: var(--color-black);
    cursor: pointer;
}


/* Layout */
.layout {
    display: flex;
    height: var(--layout-height);
}
.bg {
    flex: 1 1 50%;
}
.contents {
    display: flex;
    flex: 1 1 50%;
    padding-left: 5.7292vw;
    padding-right: 5.7292vw;
    text-align: center;
}
.contents__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Style */
h2.title {
    font-size: var(--font-size-l-3);
    font-weight: 800;
    letter-spacing: var(--text-spacing-1);
    margin-bottom: var(--margin-contents);
}
.description {
    font-family: var(--font-serif);
    font-size: var(--font-size-m-4);
    color: var(--color-grey-dark);
    line-height: 1.5em;
}


/* Button Design */
.button {
    display: inline-block;
    border: 2px solid var(--color-black);
    text-transform: uppercase;
    font-family: var(--font-default);
    font-size: var(--font-size-m);
    letter-spacing: var(--text-spacing-2);
    padding: var(--font-size-m) calc( var(--font-size-m)*3);
    margin-top: var(--margin-button);
    transition-property: background-color, border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}
.button--theme-white:hover {
    background-color: #ffffff;
    border-color: #ffffff;
}
.button--theme-green:hover {
    background-color: var(--color-green-light);
    border-color: transparent;
}


/* Header */
.header-box {
    position: relative;
}
.header {
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
}
.header__logo {
    position: absolute;
    display: flex;
}
.logo {
    font-size: var(--font-size-l-3);
    letter-spacing: var(--text-spacing-2);
}

.navigation-btn {
    display: none;
    align-self: center;
    position: absolute;
    left: calc(100% + var(--margin-elements));
    font-size: var(--font-size-l);
}

.gnb__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--font-size-l-3)*1.6);
    font-size: var(--font-size-s);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: var(--text-spacing-2);
}
.gnb__menu > li {
    padding: 0 var(--padding-contents);
}
.gnb__menu > li:nth-child(3) {
    margin-right: calc(var(--font-size-l-3)*2.5);
}
.gnb__menu > li:nth-child(4) {
    margin-left: calc(var(--font-size-l-3)*2.5);
}


/* Mobile Menu */
.mobile-navigation {
    visibility: hidden; 
    width: 100%;
    height: 0;
    max-height: 0;
    opacity: 0;
}
.mobile-navigation.active {
    visibility: visible;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    opacity: 1;
}
.mobile-navigation--slideDown {
    animation: slideDown 1s;
}
.mobile-navigation--slideUp {
    animation: slideUp 0.8s;
}

@keyframes slideDown{
    0% {
        visibility: hidden;
        max-height: 0;
        height: 0;
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        max-height: 100vh;
        height: 100vh;
        opacity: 1;
        visibility: visible;
    }
}
@keyframes slideUp{
    0% {
        visibility: visible;
        max-height: 100vh;
        height: 100vh;
        opacity: 1;
    }
    50% {
        max-height: 100vh;
        height: 100vh;
    }
    60% {
        opacity: 0;
    }
    100% {
        max-height: 0;
        height: 0;
        visibility: hidden;
    }
}

.mobile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 50% 0;
    background: no-repeat center/200vw 250vw url(../img/yoga3.jpg)
    
}
.mobile::before {
    position: absolute;
    top: 0; left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(204, 220, 173, 0.5);
}
.mobile > * {
    z-index: 1;
}
.mobile__logo {
    display: flex;
    position: relative;
}
.mobile__button {
    position: absolute;
    left: calc(100% + var(--margin-elements));
    align-self: center;
    font-size: var(--font-size-l);
}
.mobile__button.active {
    display: block;
}
.mobile__logo .logo {
    position: static;
}
.mobile__menu {
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-m-2);
}
.mobile__menu a {
    color: var(--color-white);
    font-weight: 800;
    letter-spacing: var(--text-spacing-3);
    line-height: 3em;
}
.mobile__menu a:hover {
    opacity: 0.6;
}
.mobile__sns {
    display: flex;
    margin-top: var(--margin-elements);
}
.mobile__sns > li {
    margin: var(--margin-contents);
    font-size: var(--font-size-m-2);
}


/* footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--footer-height);
    background-color: var(--color-grey-light);
}
.footer__photo, .footer__sns, .footer__text {
    display: flex;

}
.footer__photo img {
    width: 12rem;
    height: 12rem;
    margin: var(--margin-contents);
}
.footer__sns > li {
    margin: 0 var(--margin-contents);
    font-size: var(--font-size-m-3);
}
.footer__text {
    margin-top: var(--margin-elements);
}
.footer__text > li {
    margin: 0 var(--margin-elements);
    text-transform: uppercase;
    font-size: var(--font-size-s);
    letter-spacing: var(--text-spacing-3)
}
