
/* Header */
.header-box {
    position: relative;
}
.header {
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
}
.header__logo {
    position: absolute;
    display: flex;
}
.logo {
    font-size: var(--font-size-l-3);
    letter-spacing: var(--text-spacing-2);
}

.navigation-btn {
    display: none;
    position: absolute;
    left: calc(100% + var(--margin-elements));
    align-self: center;
    border: none;
    font-size: var(--font-size-l);
    color: var(--color-black);
}

.gnb__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--font-size-l-3)*1.6);
    font-size: var(--font-size-s);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: var(--text-spacing-2);
}
.gnb__menu > li {
    padding: 0 var(--padding-contents);
}
.gnb__menu > li:nth-child(3) {
    margin-right: calc(var(--font-size-l-3)*2.5);
}
.gnb__menu > li:nth-child(4) {
    margin-left: calc(var(--font-size-l-3)*2.5);
}


/* Mobile Menu */
.mobile-navigation {
    visibility: hidden; 
    width: 100%;
    height: 0;
    max-height: 0;
    opacity: 0;
}
.mobile-navigation.active {
    visibility: visible;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    opacity: 1;
}
.mobile-navigation--slideDown {
    animation: slideDown 1s;
}
.mobile-navigation--slideUp {
    animation: slideUp 0.8s;
}

@keyframes slideDown{
    0% {
        visibility: hidden;
        max-height: 0;
        height: 0;
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        max-height: 100vh;
        height: 100vh;
        opacity: 1;
        visibility: visible;
    }
}
@keyframes slideUp{
    0% {
        visibility: visible;
        max-height: 100vh;
        height: 100vh;
        opacity: 1;
    }
    50% {
        max-height: 100vh;
        height: 100vh;
    }
    60% {
        opacity: 0;
    }
    100% {
        max-height: 0;
        height: 0;
        visibility: hidden;
    }
}

.mobile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 50% 0;
    background: no-repeat center/200vw 250vw url(../img/yoga4.jpg)
    
}
.mobile::before {
    position: absolute;
    top: 0; left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(204, 220, 173, 0.5);
}
.mobile > * {
    z-index: 1;
}
.mobile__logo {
    display: flex;
    position: relative;
}
.mobile__button {
    position: absolute;
    left: calc(100% + var(--margin-elements));
    align-self: center;
    background: transparent;
    border: none;
    color: var(--color-black);
    font-size: var(--font-size-l);
}
.mobile__button.active {
    display: block;
}
.mobile__logo .logo {
    position: static;
}
.mobile__menu {
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-m-2);
}
.mobile__menu a {
    color: var(--color-white);
    font-weight: 800;
    letter-spacing: var(--text-spacing-3);
    line-height: 3em;
}
.mobile__menu a:hover {
    opacity: 0.6;
}
.mobile__sns {
    display: flex;
    margin-top: var(--margin-elements);
}
.mobile__sns > li {
    margin: var(--margin-contents);
    font-size: var(--font-size-m-2);
}


/* Main Section */
.main {
    display: flex;
    width: 100%;
    height: var(--layout-height);
}
.main__img {
    flex: 1 1 50%;
    background: no-repeat bottom/cover url(../img/main2.jpg);
}
.main__contents {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--color-green-dark);
    text-align: center;
    padding: 4%;
}
.main__title {
    font-size: var(--font-size-l-2);
    font-weight: 800;
    line-height: 1em;
    letter-spacing: var(--text-spacing-1);
    color: var(--color-white);
}
.main__title, .main__more {
    min-width: 30.125rem;
    max-width: 31.875rem;
}


/* Studio Section */
.studio__img {
    background: no-repeat center/cover url(../img/studio2.jpg);
}
.studio__contents {
    align-items: flex-start;
}
.studio__title, .studio__description, .studio__keywords {
    max-width: 30.125rem;
    width: 100%;
}
.studio__description {
    margin-bottom: calc(var(--margin-elements)*2);
    font-size: var(--font-size-l);
}
.studio__keywords {
    height: 40px;
}


/* Yoga Section */
.yoga {
    height: var(--layout-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-grey-light);
}
.yoga__list {
    text-align: center;
}
.yoga__title {
    font-size: var(--font-size-m);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: var(--text-spacing-2);
    padding-top: 1.8em;
}
.yoga__description {
    padding-bottom: 1em;
    border-bottom: 2px solid var(--color-white);
}


/* Events */
.events__img {
    background: no-repeat left top/cover url(../img/summer.jpg);
}
.events__contents {
    align-items: flex-start;
    background-color: #ffffff;
}
.events__contents > * {
    max-width: 30.125rem;
    width: 100%;
}
.events__place {
    font-size: var(--font-size-m-3);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: var(--text-spacing-2);
    margin-top: var(--margin-elements);
}
.events__time {
    font-size: var(--font-size-s);
    text-transform: uppercase;
    letter-spacing: var(--text-spacing-3);
    margin-top: var(--margin-contents);
}


/* About Section*/
.about__contents > * {
    max-width: 30.125rem;
    width: 100%;
}
.about__contents {
    align-items: flex-end;
}
.about__img {
    background: no-repeat left top/cover url(../img/about2.jpg);
}
.about__keywords {
    margin-bottom: 3em;
}


/* Join Section */
.join {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--layout-height);
    padding: 6%;
    background-color: var(--color-green-light);
    text-align: center;
}
.join__title {
    max-width: 41.25rem;
    font-size: var(--font-size-l-3);
    font-weight: 800;
    line-height: 1em;
    letter-spacing: var(--text-spacing-1);
    color: var(--color-white);
}


/* footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--footer-height);
    background-color: var(--color-grey-light);
}
.footer__photo, .footer__sns, .footer__text {
    display: flex;

}
.footer__photo img {
    width: 12rem;
    height: 12rem;
    margin: var(--margin-contents);
}
.footer__sns > li {
    margin: 0 var(--margin-contents);
    font-size: var(--font-size-m-3);
}
.footer__text {
    display: flex;
    margin-top: var(--margin-elements);
}
.footer__text > li {
    margin: 0 var(--margin-elements);
    text-transform: uppercase;
    font-size: var(--font-size-s);
    letter-spacing: var(--text-spacing-3)
}


/* Responsive */
@media screen and (min-width:768px) and (max-width: 1280px) {
    :root {
        --font-size-s: 0.9vw;
        --font-size-m: 1.3vw;
        --font-size-m-2: 1.6vw;
        --font-size-m-3: 1.9vw;
        --font-size-m-4: 2.2vw;
        --font-size-l: 2.5vw;
        --font-size-l-2: 3.4vw;
        --font-size-l-3: 4.4vw;
        
        --layout-height: 62vw;
        --footer-height: 36vw;
    }

    .main__title, .main__more {
        min-width: 33.6vw;
        width: 100%;
    }    

    .join__title {
        max-width: 51.6vw;
    }

    .footer__photo img {
        width: 15vw;
        height: 15vw;
    }
}

@media screen and (max-width: 767px) {
    :root {
        --font-size-s: 3vw;
        --font-size-m: 3.6vw;
        --font-size-m-2: 4.0vw;
        --font-size-m-3: 4.8vw;
        --font-size-m-4: 5.6vw;
        --font-size-l: 6.4vw;
        --font-size-l-2: 8.8vw;
        --font-size-l-3: 9vw;

        --layout-height: auto;
        --footer-height: auto;
    }

    .button {
        border-width: 4px;
    }

    .header .gnb {
        display: none;
    }

    .navigation-btn {
        display: block;
    }

    .main, .about {
        flex-direction: column-reverse;
    }

    .studio, .events {
        flex-direction: column;
    }

    .bg {
        padding: 30% 0;
    }
    
    .contents {
        align-items: center;
        padding: 20% 10%;
    }

    .main__contents, .footer {
        padding: 20% 6%;
    }

    .main__title, .main__more {
        max-width: 100%;
    }

    .yoga, .join {
        padding: 30% 10%;
    }

    .footer__photo img {
        width: 28vw;
        height: 28vw;
    }

    .footer__text > li {
        font-size: calc(var(--font-size-s)*0.8);
        text-align: center;
    }
}