
/* Responsive */
@media screen and (min-width:768px) and (max-width: 1280px) {
    :root {
        --font-size-s: 0.9vw;
        --font-size-m: 1.3vw;
        --font-size-m-2: 1.6vw;
        --font-size-m-3: 1.9vw;
        --font-size-m-4: 2.2vw;
        --font-size-l: 2.5vw;
        --font-size-l-2: 3.4vw;
        --font-size-l-3: 4.4vw;
        
        --layout-height: 62vw;
        --footer-height: 36vw;
    }

    .main__title, .main__more {
        min-width: 33.6vw;
        width: 100%;
    }    
    .join__title {
        max-width: 51.6vw;
    }

    .footer__photo img {
        width: 15vw;
        height: 15vw;
    }
}

@media screen and (max-width: 767px) {
    :root {
        --font-size-s: 3vw;
        --font-size-m: 3.6vw;
        --font-size-m-2: 4.0vw;
        --font-size-m-3: 4.8vw;
        --font-size-m-4: 5.6vw;
        --font-size-l: 6.4vw;
        --font-size-l-2: 8.8vw;
        --font-size-l-3: 9vw;

        --layout-height: auto;
        --footer-height: auto;
    }

    .button {
        border-width: 4px;
    }

    .header .gnb {
        display: none;
    }

    .navigation-btn {
        display: block;
    }

    .bg {
        padding: 30% 0;
    }
    
    .contents {
        align-items: center;
        padding: 20% 10%;
    }

    .main, .about {
        flex-direction: column-reverse;
    }
    .studio, .events {
        flex-direction: column;
    }
    .main__contents {
        padding: 20% 6%;
    }
    .main__title, .main__more {
        max-width: 100%;
    }
    .yoga, .join {
        padding: 30% 10%;
    }

    .footer {
        padding: 20% 6%;
    }
    .footer__photo img {
        width: 28vw;
        height: 28vw;
    }
    .footer__text > li {
        font-size: calc(var(--font-size-s)*0.8);
        text-align: center;
    }
}

@media screen and (max-width: 499px) {
    .main__title, .main__more {
        min-width: 100%;
    }
}